# list

In [1]:
items = ["Samuel",13,76.5,False]

In [3]:
print(items)

['Samuel', 13, 76.5, False]

In [4]:
fruits = ["orange","mango","cherry","banana","orange","mango"]

In [6]:
print(fruits)

['orange', 'mango', 'cherry', 'banana', 'orange', 'mango']

# len() function

In [7]:
print(len(fruits))

6

# type() function

In [9]:
print(type(fruits))

<class 'list'>

# Access a list

In [11]:
print(fruits)

['orange', 'mango', 'cherry', 'banana', 'orange', 'mango']

In [13]:
print(fruits[2])

cherry

In [15]:
print(fruits[0])

orange

In [17]:
print(fruits[5])

mango

# Negative indexing

In [19]:
print(fruits)

['orange', 'mango', 'cherry', 'banana', 'orange', 'mango']

In [21]:
print(fruits[-1])

mango

In [23]:
print(fruits[-3])

banana

# Range indexing

In [32]:
print(fruits)

['orange', 'mango', 'cherry', 'banana', 'orange', 'mango']

In [25]:
print(fruits[1:4])

['mango', 'cherry', 'banana']

In [33]:
print(fruits[2:5])

['cherry', 'banana', 'orange']

# Range of negative indexes

In [35]:
print(fruits)

['orange', 'mango', 'cherry', 'banana', 'orange', 'mango']

In [4]:
print(fruits[-4:-1])

NameError: name 'fruits' is not defined

# To check if an item is present in a list, we use in keyword

In [41]:
print(fruits)

['orange', 'mango', 'cherry', 'banana', 'orange', 'mango']

In [43]:
print("cherry" in fruits)

True

In [45]:
print("pineapple" in fruits)

False

In [47]:
print("mango" in fruits)

True

In [49]:
print("bear" in fruits)

False

# list modify

In [ ]:
# change the item value, to change the value of a specific item, refer to the index number

In [50]:
tt = [23, 67.8, 'david','laptop' ]

In [51]:
tt[0] = 'chair'

In [53]:
print(tt)

['chair', 67.8, 'david', 'laptop']

# change a range of item value

In [55]:
print(tt)

['chair', 67.8, 'david', 'laptop']

In [57]:
print(tt[1:3])

[67.8, 'david']

In [58]:
tt[1:3] = ["table", "mango"]

In [60]:
print(tt)

['chair', 'table', 'mango', 'laptop']

In [61]:
tt[:3] = [23,56,78,90]

In [64]:
print(tt)

[23, 56, 78, 90, 'laptop']

In [65]:
tt[:2] = "mango"

In [67]:
print(tt)

['m', 'a', 'n', 'g', 'o', 78, 90, 'laptop']

# Insert a new item in a list

In [68]:
#  we can add a new item by using an insert() method, it adds to the middle

In [74]:
print(tt)

['m', 'a', 'n', 'g', 'o', 78, 90, 'laptop']

In [80]:
tt.insert(6,"table")

In [82]:
print(tt)

['m', 'a', 'n', 'g', 'o', 78, 'table', 90, 'laptop']

# Append() method

In [83]:
# it adds values to the back

In [85]:
print(tt)

['m', 'a', 'n', 'g', 'o', 78, 'table', 90, 'laptop']

In [86]:
tt.append(67.48)

In [88]:
print(tt)

['m', 'a', 'n', 'g', 'o', 78, 'table', 90, 'laptop', 67.48]

# Extend() method

In [89]:
#  this is used to add items in a list into another list

In [90]:
aa = [34,78,90,89]

In [91]:
bb = [34,5,67,8,56.4]

In [92]:
bb.extend(aa)

In [94]:
print(bb)

[34, 5, 67, 8, 56.4, 34, 78, 90, 89]

In [96]:
print(aa)

[34, 78, 90, 89]

# We can also add the items in other array in python into a list

In [98]:
mylist = ["hello", "chika", "samuel"]

In [100]:
mytuple=(45,"david", 56.90, False)

In [101]:
mylist.extend(mytuple)

In [102]:
print(mylist)

['hello', 'chika', 'samuel', 45, 'david', 56.9, False]

# Remove() method is used to remove an item in a list

In [105]:
up = [34,66,78,98]

In [106]:
print(up)

[34, 66, 78, 98]

In [107]:
up.remove(78)

In [110]:
print(up)

[34, 66, 98]

# pop() method

In [111]:
# by using pop method, just signify the index number of the item you want to remove

In [113]:
print(up)

[34, 66, 98]

In [114]:
up.pop(1)

66

In [116]:
print(up)

[34, 98]

In [117]:
up.pop()

98

In [119]:
print(up)

[34]

# del keyword

In [120]:
# you used the index number too

In [121]:
hh = [23,45,67,89,78]

In [127]:
print(hh)

[23, 45, 67, 89]

In [ ]:
del hh[4]

In [129]:
print(hh)

[23, 45, 67, 89]

In [130]:
del hh

# clear() method

In [133]:
pp = ["adam", "jennifer", "andrew"]

In [135]:
print(pp)

['adam', 'jennifer', 'andrew']

In [136]:
pp.clear()

In [137]:
print(pp)

[]

# Looping a list

In [3]:
mylist = [34,67,89]
for x in mylist:
    print(x)

34
67
89

In [4]:
print(mylist)

[34, 67, 89]

# Looping through index number

In [7]:
mylist = [34,67,89]
for b in range(len(mylist)):
    print(mylist[b])

34
67
89

In [9]:
print(range(len(mylist)))

range(0, 3)

# Using while loop

In [14]:
print(mylist)

[34, 67, 89]

In [16]:
print(len(mylist))

3

In [21]:
c = 1
while c<len(mylist):
    print(mylist[c])
    c = c+1

67
89

# Sorting a list

In [23]:
kk = ["mango", "apple", "cherry", "orange"]
print(kk)

['mango', 'apple', 'cherry', 'orange']

In [24]:
kk.sort()

In [25]:
print(kk)

['apple', 'cherry', 'mango', 'orange']

In [29]:
ff = [67,23,89,13,32]
print(ff)

[67, 23, 89, 13, 32]

In [30]:
ff.sort()

In [34]:
print(ff)

[13, 23, 32, 67, 89]

# Sort descending

In [38]:
print(kk)

['apple', 'cherry', 'mango', 'orange']

In [39]:
kk.sort(reverse=True)

In [41]:
print(kk)

['orange', 'mango', 'cherry', 'apple']

In [42]:
ff.sort(reverse=True)

In [44]:
print(ff)

[89, 67, 32, 23, 13]

# sort is case sensitive

In [57]:
pp = ["david","ada","john","Samuel"]

In [63]:
print(pp)

['ada', 'david', 'john', 'Samuel']

In [64]:
pp.sort()

In [66]:
print(pp)

['Samuel', 'ada', 'david', 'john']

In [67]:
pp.sort(key=str.lower)

In [70]:
print(pp)

['ada', 'david', 'john', 'Samuel']

In [71]:
pp.reverse()

In [72]:
print(pp)

['Samuel', 'john', 'david', 'ada']

# copy list

In [74]:
oo = [34,66,77,88,22]
print(oo)

[34, 66, 77, 88, 22]

In [75]:
gg = oo.copy()

In [77]:
print(gg)

[34, 66, 77, 88, 22]

In [81]:
yy = [1,2,3,4,5]
print(yy)

[1, 2, 3, 4, 5]

In [83]:
zz = ["a", "b"]
print(zz)

['a', 'b']

In [84]:
zz.extend(yy)

In [86]:
print(zz)

['a', 'b', 1, 2, 3, 4, 5]

In [88]:
print(yy)

[1, 2, 3, 4, 5]

# joining list

In [90]:
list1 = [34,6,78,99]
list2 = [90,45,60]
print(list1)
print(list2)

[34, 6, 78, 99]
[90, 45, 60]

In [91]:
list3 = list1 + list2
print(list3)

[34, 6, 78, 99, 90, 45, 60]