In [1]:
mytuple = (45,67,True,"house",90.8)

In [2]:
mylist=list(mytuple)

In [3]:
print(mylist)

[45, 67, True, 'house', 90.8]

In [4]:
print(mytuple)

(45, 67, True, 'house', 90.8)

In [5]:
print(mylist)

[45, 67, True, 'house', 90.8]

In [6]:
mylist[2]=False

In [7]:
print(mylist)

[45, 67, False, 'house', 90.8]

In [8]:
mylist.insert(3,"laptop")

In [9]:
print(mylist)

[45, 67, False, 'laptop', 'house', 90.8]

In [10]:
mylist.append("Anambra")

In [11]:
print(mylist)

[45, 67, False, 'laptop', 'house', 90.8, 'Anambra']

In [12]:
mylist.remove(45)

In [13]:
print(mylist)

[67, False, 'laptop', 'house', 90.8, 'Anambra']

In [14]:
mylist.pop(4)

90.8

In [15]:
print(mylist)

[67, False, 'laptop', 'house', 'Anambra']

In [16]:
mylist.pop()

'Anambra'

In [17]:
print(mylist)

[67, False, 'laptop', 'house']

In [18]:
del mylist[0]

In [19]:
print(mylist)

[False, 'laptop', 'house']

In [20]:
print(mytuple)

(45, 67, True, 'house', 90.8)

In [21]:
mytuple = tuple(mylist)

In [22]:
print(mytuple)

(False, 'laptop', 'house')

# Unpacking Tuple

In [23]:
print(mylist)

[False, 'laptop', 'house']

In [24]:
a,b,c = mylist

In [25]:
print(a)

False

In [26]:
print(b)

laptop

In [27]:
print(c)

house

In [28]:
ntuple=(1,2,3,4,5,6)

In [29]:
(a,*b,c)=ntuple

In [30]:
print(a)

1

In [31]:
print(b)

[2, 3, 4, 5]

In [32]:
print(c)

6

# Loop through a tuple

In [33]:
print(mytuple)

(False, 'laptop', 'house')

In [34]:
for tt in mytuple:
    print(tt)

False
laptop
house

# While loop through tuple

In [35]:
print(mytuple)

(False, 'laptop', 'house')

In [36]:
pp = 0

In [37]:
print(len(mytuple))

3

In [38]:
while pp<len(mytuple):
    print(mytuple[pp])
    pp+=1

False
laptop
house

# Join tuple

In [39]:
tuple1 = (1,2,3)

In [40]:
tuple2 = ("a", "b", "c")

In [42]:
print(tuple1)
print(tuple2)

(1, 2, 3)
('a', 'b', 'c')

In [43]:
tuple3 = tuple1 + tuple2

In [45]:
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

# Multiply tuples

In [47]:
print(tuple1)

(1, 2, 3)

In [48]:
lltuple = tuple1*3

In [50]:
print(lltuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Count() method

In [52]:
print(lltuple.count(1))

3

In [54]:
print(lltuple.count(2))

3

# index() method

In [56]:
print(mytuple)

(False, 'laptop', 'house')

In [57]:
print(mytuple.index("laptop"))

1