# OKAFOR CHIAMAKA

# using for loop

In [1]:
thistuple = (45, 67, 54, 32, 12)

In [2]:
print(thistuple)

(45, 67, 54, 32, 12)

In [3]:
for i in thistuple:
    print(i)

45
67
54
32
12

# using while loop

In [4]:
mytuple = ("apple", "cherry", "potato", "orange")

In [5]:
print(mytuple)

('apple', 'cherry', 'potato', 'orange')

In [6]:
print(len(mytuple))

4

In [7]:
n = 0

In [8]:
while n<len(mytuple):
    print(mytuple[n])
    n+=1

apple
cherry
potato
orange

# join list

In [9]:
a = (1,2,3,4,5)

In [10]:
b = ("a","b","c","d","e")

In [11]:
c = a+b

In [12]:
print(c)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e')

# tuple with single value

In [13]:
ktuple = ("orange",)

In [14]:
print(ktuple)

('orange',)

# check if item is in the tuple

In [15]:
vtuple = ("apple", "cherry", "potato", "orange")

In [16]:
print(vtuple)

('apple', 'cherry', 'potato', 'orange')

In [17]:
print("potato" in vtuple)

True

# unpack the tuple

In [18]:
ltuple = (89,90.5,67)

In [19]:
print(ltuple)

(89, 90.5, 67)

In [20]:
a,b,c = ltuple

In [21]:
print(a)
print(b)
print(c)

89
90.5
67

In [22]:
ptuple = (45,67,54,32,12)

In [23]:
print(ptuple)

(45, 67, 54, 32, 12)

In [24]:
a,b,c,*d = ptuple

In [25]:
print(a)
print(b)
print(c)
print(d)

45
67
54
[32, 12]

# modify tuple

# REPLACE "CHERRY" WITH "BANANA"

In [27]:
dtuple = ("apple","cherry","potato","orange")

In [28]:
print(dtuple)

('apple', 'cherry', 'potato', 'orange')

In [29]:
kklist = list(dtuple)

In [30]:
print(kklist)

['apple', 'cherry', 'potato', 'orange']

In [31]:
kklist[1] = "banana"

In [32]:
print(kklist)

['apple', 'banana', 'potato', 'orange']

# ADD TWO NEW ITEMS

In [34]:
a = ["citrus", "guava"]

In [35]:
print(a)

['citrus', 'guava']

In [36]:
newlist = kklist + a

In [37]:
print(newlist)

['apple', 'banana', 'potato', 'orange', 'citrus', 'guava']

# ADD TWO NEW ITEMS AT THE INDEX

In [41]:
newlist[3:4] = ["strawberry", "grape"]

In [43]:
print(newlist)

['apple', 'banana', 'potato', 'strawberry', 'grape', 'citrus', 'guava', 'strawberry']

# REMOVE THE ITEM AT INDEX 4

In [45]:
newlist.pop(4)

'grape'

In [47]:
print(newlist)

['apple', 'banana', 'potato', 'strawberry', 'citrus', 'guava', 'strawberry']

In [48]:
final = tuple(newlist)

In [49]:
print(final)

('apple', 'banana', 'potato', 'strawberry', 'citrus', 'guava', 'strawberry')