# OKAFOR CHIAMAKA

# Create a set of 10 items using the set constructor

In [1]:
newlist = set((5,10,15,20,25,30,35,40,45,50))

In [2]:
print(newlist)

{35, 5, 40, 10, 45, 15, 50, 20, 25, 30}

# Access through this set

In [3]:
myset = {1,2,3,4,5}

In [4]:
print(myset)

{1, 2, 3, 4, 5}

In [5]:
for x in myset:
    print(x)

1
2
3
4
5

# Add a new item to the set

In [6]:
newset = {1,2,3,4,5}

In [7]:
print(newset)

{1, 2, 3, 4, 5}

In [8]:
newset.add(8)

In [9]:
print(newset)

{1, 2, 3, 4, 5, 8}

# Add item in set1 into set2

In [10]:
set1 = {1,2,3,4,5}
set2 = {"a","b","c"}

In [11]:
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{'c', 'a', 'b'}

In [12]:
set1.update(set2)

In [13]:
print(set1)

{1, 2, 3, 4, 5, 'a', 'c', 'b'}

# Add the items in mylist into okset

In [14]:
mylist = ["apple","banana","potato"]
okset = {78.0, 564, False}

In [15]:
okset.update(mylist)

In [16]:
print(okset)

{False, 78.0, 'banana', 564, 'apple', 'potato'}

# Remove "apple" from the set

In [17]:
print(mylist)

['apple', 'banana', 'potato']

In [18]:
mylist.remove("apple")

In [19]:
print(mylist)

['banana', 'potato']

# Remove the last item in a set using pop() method

In [20]:
dset = {78.0, 564, False}

In [21]:
print(dset)

{False, 564, 78.0}

In [22]:
klist = list(dset)

In [23]:
print(klist)

[False, 564, 78.0]

In [24]:
klist.pop(0)

False

In [25]:
mlist = set(klist)

In [26]:
print(mlist)

{564, 78.0}

# Join the two set together

In [27]:
a = {1,2,3,4,5}
b = {"a","b","c"}

In [28]:
print(a)
print(b)

{1, 2, 3, 4, 5}
{'c', 'a', 'b'}

In [29]:
c = a.union(b)

In [30]:
print(c)

{1, 2, 3, 4, 5, 'a', 'c', 'b'}

# Keep on duplicate values in these sets

In [31]:
ok = {1,2,3}
up = {"a",2,1}

In [32]:
print(ok)
print(up)

{1, 2, 3}
{'a', 2, 1}

In [33]:
ok.intersection_update(up)

In [34]:
print(ok)

{1, 2}

# Exclude duplicate values in these sets

In [35]:
lagos = {1,2,3}
anam = {"a",2,1}

In [37]:
print(lagos)
print(anam)

{1, 2, 3}
{'a', 2, 1}

In [40]:
lagos.symmetric_difference_update(anam)

In [41]:
print(lagos)

{3, 'a'}