# Sets are used to store multiple items in a single variable
sets are unordered and unchangeable but you can add and remove items from it,
we use a coil bracket {}

In [1]:
myset = {45, 89.9, True, "anambra"}

In [2]:
print(myset)

{89.9, 45, True, 'anambra'}

# set does not allow duplicate value

In [3]:
thislist = {"apple", "banana", "cherry", "apple"}

In [4]:
print(thislist)

{'cherry', 'apple', 'banana'}

In [5]:
print(len(myset))

4

In [6]:
print(type(thislist))

<class 'set'>

# set() constructor

In [7]:
newset =set((70,45,34))

In [8]:
print(newset)

{34, 45, 70}

# How to access items in set, is by looping through it

In [9]:
print(newset)

{34, 45, 70}

In [10]:
for y in newset:
    print(y)

34
45
70

# To check if an item is present in a set

In [11]:
print(myset)

{89.9, 45, True, 'anambra'}

In [12]:
print("anambra" in myset)

True

# Add items into set

In [13]:
# we use the add()method

In [14]:
print(myset)

{89.9, 45, True, 'anambra'}

In [15]:
myset.add('CODE')

In [16]:
print(myset)

{True, 'CODE', 45, 'anambra', 89.9}

# update() method

In [17]:
print(myset)

{True, 'CODE', 45, 'anambra', 89.9}

In [18]:
print(thislist)

{'cherry', 'apple', 'banana'}

In [19]:
myset.update(thislist)

In [20]:
print(myset)

{True, 'CODE', 45, 'anambra', 'cherry', 89.9, 'apple', 'banana'}

In [21]:
mylist = [1,2,3,4,5]

In [22]:
myset.update(mylist)

In [23]:
print(myset)

{True, 2, 3, 4, 5, 'CODE', 45, 'anambra', 'cherry', 89.9, 'apple', 'banana'}

# To remove item in a set, we can use remove() or discard() method

In [24]:
print(myset)

{True, 2, 3, 4, 5, 'CODE', 45, 'anambra', 'cherry', 89.9, 'apple', 'banana'}

In [25]:
myset.remove(True)

In [26]:
print(myset)

{2, 3, 4, 5, 'CODE', 45, 'anambra', 'cherry', 89.9, 'apple', 'banana'}

In [27]:
myset.discard(5)

In [28]:
print(myset)

{2, 3, 4, 'CODE', 45, 'anambra', 'cherry', 89.9, 'apple', 'banana'}

# pop() method

In [29]:
myset.pop()

2

# clear() and del keyword

In [30]:
myset.clear()

In [31]:
print(myset)

set()

In [32]:
del myset

# Join two sets or more with union() method

In [33]:
set1 = {1,2,3,4,5}

In [34]:
set2 = {"a", "b", "c"}

In [35]:
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{'a', 'b', 'c'}

In [36]:
set3 = set1.union(set2)

In [37]:
print(set3)

{'a', 1, 2, 3, 4, 5, 'c', 'b'}

In [38]:
iset = {1,2,3}

In [39]:
uset = {3,5,7}

In [40]:
print(iset)
print(uset)

{1, 2, 3}
{3, 5, 7}

In [41]:
iset.update(uset)

In [42]:
print(iset)

{1, 2, 3, 5, 7}

# To keep duplicate value, we use intersection_update()

In [43]:
a = {'book',"laptop","iphone"}
b = {"laptop","orange","mango"}

In [44]:
print(a)
print(b)

{'book', 'laptop', 'iphone'}
{'laptop', 'mango', 'orange'}

In [45]:
a.intersection_update(b)

In [46]:
print(a)

{'laptop'}

# intersection() method

In [47]:
x = {1,2,3}
y = {2,3,4}

In [49]:
print(x)
print(y)

{1, 2, 3}
{2, 3, 4}

In [50]:
z = x.intersection(y)

In [52]:
print(z)

{2, 3}

# how to keep all items, but not duplicate items, using symmetric_difference_update()

In [54]:
print(x)
print(y)

{1, 2, 3}
{2, 3, 4}

In [55]:
x.symmetric_difference_update(y)

In [57]:
print(x)

{1, 4}

# symmetric_difference() method

In [58]:
g = {4,5,6}
h = {7,5,2}

In [60]:
print(g)
print(h)

{4, 5, 6}
{2, 5, 7}

In [61]:
j = g.symmetric_difference(h)

In [62]:
print(j)

{2, 4, 6, 7}